<!DOCTYPE html>
<html>
<head>
	<title>Slava</title>
	<link lang="eng">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="img/favicon.png"/>
	<link rel="stylesheet" href="./css/styles.css">
	<script src="./js/main.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<div class="box box--lg clr">
					<ul class="nav ">
						<li><a href="#">profile</a></li>
						<li><a href="#">REQUESTS</a></li>
						<li><a href="#">ELEMENTS</a></li>
					</ul>
					<div class="status">
						<span class="offline" ></span>
						<span class="online" ></span>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="box box--lg  clr">
					<div class="profile">
						<a href="#" class="profile__img">
							<img src="img/user.png" alt="">
						</a>
						<div class="profile__info">
							<span>Logged in as</span>
							<h4 class="profile__name"><a href="#">Slava Buynyj</a></h4>
						</div>
					</div>
					<div class="nav__ic crl">
						<a class="ic" href="#"><img src="img/ic--settings.png" alt=""></a>
						<a class="ic" href="#"><img src="img/ic--info.png" alt=""><kbd>4</kbd></a>
						<a class="ic" href="#"><img src="img/ic--calendar.png" alt=""><kbd>21</kbd></a>
					</div>	
				</div>
			</div>
		</div>
		<div class="navbar box box--lg">
			<div class="row">
				<div class="col-xs-3">
					<div class="profile devider">
						<a href="#" class="profile__img">
							<img src="img/user.png" alt="">
						</a>
						<div class="profile__info">
							<h4 class="profile__name"><a href="#">Slava Buynyj</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-4">
					<ul class="nav devider">
						<li><a href="#">profile</a></li>
						<li><a href="#">REQUESTS</a></li>
						<li><a href="#">ELEMENTS</a></li>
					</ul>
				</div>
				<div class="col-xs-5">
					<div class="nav__ic crl">
						<a class="ic" href="#"><img src="img/ic--settings.png" alt=""></a>
						<a class="ic" href="#"><img src="img/ic--info.png" alt=""><kbd>4</kbd></a>
						<a class="ic" href="#"><img src="img/ic--calendar.png" alt=""><kbd>21</kbd></a>
					</div>
					<form action="" class="navbar-form">
						<input type="text" placeholder="Search...">
						<button type="submit" class="form__btn" ><img src="img/ic--search.png" alt=""></button>
					</form>	
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="login box box--lg box--br">
					<h4 class="box__title">Access acount</h4>
					<form action="#">
						<img src="img/ic--user.png" alt="" class="log" > <input type="text" class="inp1" >
						<img src="img/ic--password.png" alt="" class="pass" > <input type="password">
					</form>
					<div class="account clr">
						<div class="social">
							<span>or</span>
							<button href="#" class="btn btn--twit"><i class="fa fa-twitter" aria-hidden="true"></i></button> 
							<button href="#" class="btn btn--fb"><i class="fa fa-facebook" aria-hidden="true"></i></button> 
						</div>
						<button type="submit" class="login">Login</button>
					</div> 
					<div class="devider2"></div>
					<div class="footer__login">
						<div class="left"> <a href="#">Forgot password</a></div>
						<div class="right"> <a href="#"><span>REGISTER</span> new account</a></div>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="box box--lg box--br">
					<div class="register">
						<h4>register a new acount</h4>
						<div class="row">
							<div class="col-xs-6">
								<form action="#">
									<img src="img/ic--user.png" alt="" class="log"> <input type="text" placeholder="desired username">
									<img src="img/ic--password.png" alt="" class="pass" > <input type="password" placeholder="desired password" >
								</form>
							</div>
							<div class="col-xs-6">
								<form action="#">
									<img src="img/ic--mail.png" alt="" class="mail" > <input type="text" placeholder="enter e-mail address" >
									<img src="img/ic--password.png" alt="" class="pass" > <input type="password" placeholder="&#149&#149&#149&#149&#149&#149&#149&#149">
								</form>
							</div>
							<div class="col-xs-12">
								<div class="progress">
									<span class="progress__count"><span class="text-success">77</span>/100</span>
									<span class="progress__title">Password strength:</span>
									<div class="progress__wrap">
										<div style=""></div>
									</div>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="checkbox">
									<label for="check"> 
										<div class="chk1"> Registering means that you <br> agree to our <a href="#">Terms of Service</a>
										</div>
										<div class="checkbox1"><input type="checkbox" id="check" >
											<span class="chk"></span>
										</div>
									</label>
								</div>
							</div>
							<div class="col-xs-6"><button type="submit" class="login">Register</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-xs-2"></div>
			<div class="col-xs-4">
				<div class="box box--lg box--br">
					<h4 class="box__title">My skills</h4>
					<div class="ps">
						<span class="ps__count"><span class="text-success">90%</span></span>
						<span class="ps__title">Photoshop</span>
						<div class="ps__wrap">
							<div style=""></div>
						</div>
					</div>
					<div class="il">
						<span class="il__count"><span class="text-success">65%</span></span>
						<span class="il__title">Illustrator</span>
						<div class="il__wrap">
							<div style=""></div>
						</div>
					</div>
					<div class="html">
						<span class="html__count"><span class="text-success">75%</span></span>
						<span class="html__title">HTML & CSS</span>
						<div class="html__wrap">
							<div style=""></div>
						</div>
					</div>
					<div class="php">
						<span class="php__count"><span class="text-success">40%</span></span>
						<span class="php__title">PHP</span>
						<div class="php__wrap">
							<div style=""></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="box box--lg box--br">
					<div class="profile profile--lg profile--wrap">
						<div class="active">
								<span class="online" ></span>
							</div>
						<a href="#" class="profile__img1">
							<img src="img/user-big.png" alt="">
						</a>
						
						<h4 class="profile__name">
							<a href="#">Slava Buynyj</a>
						</h4>
						<p class="profile_descr">web & UI/UX designer</p>
						<div class="social social--lg">
							<a href="#" class="btn btn--twit"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#" class="btn btn--fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#" class="btn btn--google"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							<a href="#" class="btn btn--plus"><i class="fa fa-plus" aria-hidden="true"></i></i></a>
						</div>
						<div class="fol"><a href="#">+Follow</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>